@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body{

}
.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg,Aqua,	RoyalBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
}
.container h1{
  color: #fff;
  /* font-size: 60px;
  font-family: "Limelight", sans-serif;
  font-weight: bold; 
  line-hight:1.3
  */
  font:bold 100px/1.3 "Limelight", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
.container ul{
  display: flex;
  width: 500px;
}
.container li{
  flex: 1;
  text-align: center;
}
.container li a{
  font-size: 26px;
  color: #fff;
}

@media (max-width:600px){
  .container{
    gap: 10vh;
  }

  .container h1{
    font-size: 60px;
  }

  .container ul{
    font-size: 18px;
    width: 70%;
    text-align: center;
  }
}